{
  "plugins": ["vue"],
  "extends": ["elemefe"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true
  },
  // global var
  "globals": {
    "window": true,
    "Headers": true,
    "fetch": true,
    "Request": true,
    "Promise": true,
    "chrome": true
  },
  "rules": {
//    "arrow-parens": 0, // allow paren-less arrow functions
//    "space-before-function-paren": 0,
//    "new-cap": 0,
    "semi": 0
  }
}
