@import "var.css";
html {
  width: 300px;
  height: 485px;
}
body {
  margin: 0 auto;
  overflow: auto;
  font-family: PingFangSC, 微软雅黑, "Microsoft yahei", "Hiragino Sans GB", "冬青黑体简体中文 w3", Arial, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
}
a {
  text-decoration: none;
}
hr {
  height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--color-primary);
  background: var(--color-primary);
  font-size: 0;
  border: 0;
}
:focus {
  outline: none;
}
.empty {
  display: flex;
  align-items: center;
  height: 345px;

  & p {
    width: 100%;
  font-size:18px;
  color:#808080;
  text-align:center;
  }
}
.modal {
  opacity: 0.95;
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.dark {
  background:#404040;
}
.light {
  background: #EFEFF4;
}
button {
  background:#fdc02f;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius:5px;
  width:252px;
  height:39px;
  margin-top: 36px;
  text-align: center;
  font-size:18px;
  color: white;
  transition: all 0.5s;
  & span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
    &:after {
      content: '»';
      position: absolute;
      /*opacity: 0;*/
      top: 0;
      right: -40px;
      transition: 0.5s;
    }
  }
  &:hover span {
     padding-right: 25px;
     &:after {
       /*opacity: 1;*/
       right: 0;
   }
  }
}
